.milestone:last-of-type > .divider {
	display: none;
}

.milestone {
	text-align: center;
	font-weight: bold;
}

.milestone > .segment > i:nth-child(odd) {
	color: #A0A0A0;
}

.ui.grid>.milestones.ui.grid:first-child {
	padding-top: 2rem;
}