.Toastify__toast, .Toastify__toast-container, .Toastify__toast-body {
	padding: 4px 4px 4px 4px;
	overflow: visible;
}

.Toastify__toast-body {
	width: 100%;
}

.notification > .content {
	border-top: none;
	margin-top: 0;
	padding: 10px 10px 10px 10px;
}

.notification > .content > .extra {
    border-top: 1px solid rgba(0,0,0,.05)!important;
    margin: .75em 0 0 0;
    padding: .75em 0 0 0;
}

.notification > .content > .header {
	margin: 0 0 10px 0;
}

.notification > .content > .header > .title {
	font-size: 1.3em;
	color: black;
	font-weight: 700;
}

.notification > .content > .header > .meta {
	color: rgba(0,0,0,.4);
}

.notification > .content > .icon {
	float: right;
}

.notification > .content > .description {
	color: black;
}

.notification > .content > .extra > .ui.buttons {
	width: 100%;
}

.notification > .content > .extra > .ui.buttons > .button {
	margin: 0 auto;
}