.ui.cards {
	position: fixed;
	top: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	/* transition: all 0.3s ease; */
}

.ui.cards > .card.notification {
	position: absolute;
	left: calc(50% - 145px);
	top: 50%;
	transform: translateY(-50%);
	height: auto;
}

.ui.cards > .card.notification > .content {
	border-top: none;
	margin-top: 0;
	padding-top: 0;
}

.ui.cards > .card.notification > .content > .extra {
    border-top: 1px solid rgba(0,0,0,.05)!important;
    margin: .75em 0 0 0;
    padding: .75em 0 0 0;
}

.ui.cards > .card.notification > .content > .extra > .ui.buttons {
	width: 100%;
}

.ui.cards > .card.notification > .content > .extra > .ui.buttons > .button {
	/* max-width: 90px !important; */
	margin: 0 auto;
}

.notification_congrats {
	position: relative;
	top: -70px;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 4em;
}

.inactive {
	display: none !important;
}

.active {
	display: block !important;
}