.programmer.divided {
	border-left: none;
}

.programmer > .ui.row.one.column {
	text-align: center;
	box-shadow: none;
}

.lines_of_code_number {
	font-size: 2.5em;
}

.lines_of_code_label {
	font-size: 1.5em;
}

.total_lines_added {
	margin: 5px 0 0 0;
	font-size: 0.5em;
	vertical-align: top;
	color: rgba(0, 150, 0, 0.8);
	font-weight: bold;
}