.programmer.divided {
	border-left: none;
}

.programmer > .ui.row.one.column {
	text-align: center;
	box-shadow: none;
}

.total_lines_of_code_label {
	color: lightskyblue;
	line-height: 25px;
}

.lines_of_code_number {
	display: inline-block;
	margin-top: -30px;
	font-size: 1.5em;
}

.total_lines_added {
	margin: 0 0 5px 0;
	font-size: 1em;
	vertical-align: top;
	color: rgba(0, 150, 0, 0.8);
	font-weight: bold;
}